@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>

@inject SignInManager<IdentityUser> SignInManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Bethany's Pie Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a asp-controller="Feedback" asp-action="Index" class="nav-item nav-link active">Feedback<span class="sr-only">(current)</span></a>
                @*<a asp-controller="Account" asp-action="Register" class="nav-item nav-link">Register</a>
                    <a asp-controller="Account" asp-action="Login" class="nav-item nav-link">Log in</a>*@

            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                      method="post" >
                    <ul class="navbar-nav">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </form>
            }
            else
            {
                <div class="navbar-nav">
                    <a id="registerLink" asp-controller="Account" asp-action="Register" class="nav-item nav-link">Register<span class="sr-only">(current)</span></a>
                    <a id="loginLink" asp-controller="Account" asp-action="Login" class="nav-item nav-link">Login</a>
                </div>
            }

        </div>
    </nav>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
