<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
