<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Bethany's Pie Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a asp-controller="Feedback" asp-action="Index" class="nav-item nav-link active">Feedback<span class="sr-only">(current)</span></a>
                    <a asp-controller="Account" asp-action="Register" class="nav-item nav-link">Register</a>
                    <a asp-controller="Account" asp-action="Login" class="nav-item nav-link">Log in</a>

                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
</body>
</html>
